apiVersion: apps/v1
kind: Deployment
metadata:
  name: ota-asset
  labels:
    app: ota-asset
    version: v0.1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ota-asset
  template:
    metadata:
      labels:
        app: ota-asset
        version: v0.1
    spec:
      containers:
      - name: nginx
        image: localhost/ivi-theme:0.1
        imagePullPolicy: IfNotPresent
        ports:
        - name: http
          containerPort: 80
          protocol: TCP
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 3

